# Python-related
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp



# Tailwind and Node.js-related
node_modules/
dist/
*.log
*.cache
*.tmp


# VSCode-related
.vscode/
*.code-workspace

# Environment-specific
.idea/
*.env
