asgiref
click
colorama
crispy-bootstrap5
crispy-tailwind
cssbeautifier
distlib
Django
django-crispy-forms
django-environ
django-phonenumber-field
djlint
EditorConfig
filelock
html-tag-names
html-void-elements
jsbeautifier
json5
MouseInfo
mysql-connector-python
pathspec
phonenumbers
pillow
platformdirs
psycopg2
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
pytweening
PyYAML
regex
six
sqlparse
tqdm
tzdata
virtualenv